$primary-color: #f6f6f6;

.hide {
  opacity: 0;
}

body {
  background-color: $primary-color;
  font-family: 'Courier New', Courier, monospace;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.leader-board {
  display: flex;
  gap: 1rem;

  article {
    border: 1px solid black;
    padding: 2em;
  }

  .recent-scores {
    .recent-title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .scores-container {
      border: 1px solid red;

      .score-item {
        list-style: none;
      }
    }
  }

  .add-score {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #submit {
      align-self: flex-end;
    }
  }
}
