$primary-color: #f6f6f6;

.hide {
  opacity: 0;
}

body {
  background-color: $primary-color;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

article {
  border-radius: 1em;
  border: .3rem solid black;
  padding: 2em;
  background-color: #c2eec5;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.leader-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .recent-scores {
    .recent-title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .scores-container {
      padding: 0;

      .score-item {
        list-style: none;
        text-align: center;
        background-color: #45a049ac;
        border-radius: 100px;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 16px;
        font-weight: bold;
        color: black;
      }
    }
  }

  .add-score {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #submit {
      align-self: flex-end;
    }
  }
}
